:root {
    --color--1: #cb6564;
    --color--2: #fffbe4;
  }
  
  * {
    margin: 0;
    font-family: "Poppins";
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  img {
    width: 60px;
  }
  body {
    min-height: 200vh;
    background-color: var(--color--1);
  }
  header {
    background-color: var(--color--2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color--1);
    padding: 20px;
    position: fixed;
    width: 100%;
  }
  header * {
    color: var(--color--1);
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 43px;
    height: 43px;
    object-fit: contain;
  }
  .logo h1 {
    font-size: 20px;
  }
  header ul {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  header ul .active {
    font-weight: 600;
  }
  header .btn {
    background-color: var(--color--1);
    color: var(--color--2);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    margin-right: 20px;
  }
  /* section 1-home*/
  .home {
    padding-top: 100px;
    display: flex;
    background-color: var(--color--2);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home *{
    color: #cb6564;
  }
  .home img {
    width: 100%;
    object-fit: contain;
  }
  .home svg {
    width: 15px;
    stroke: #fffbe4;
  }
  .home .text-area h4{
    font-size: 25px;
    font-weight: 600;
  }
  .home .text-area h1{
    font-size: 54px;
    width: 80%;
  }
  .home .text-area p{
    width: 65%;
    margin-bottom: 25px;
  }
  .home .text-area a{
    background-color: var(--color--1);
  }
  
  .home .text-area a span{
    background-color: #cb6564;
    color: #fffbe4;
    display:flex;
    align-items: center;
    width: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
  }
  @media screen and (max-width: 567px) {
    header .logo h1 {
      display: none;
    }
    header a {
      font-size: 11px;
    }
  }
  /* SECTION 2 */
  .features .text-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .features .text-area *{
    color: #fffbe4;
    
  }
  .features .text-area h4{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .features .text-area h1{
    font-size: 54px;
    width: 80%;
  }
  .features .text-area p{
    width: 65%;
    margin-bottom: 20px;
  }
  /* Card */
  .features{
    padding: 20px;
  }
  .features .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 19%;
    margin-top: 20px;
    justify-content: center;
  }
  .features .cards .card{
    background-color: #fffbe4;
    padding: 10px;
    width: 250px;
    border-radius: 12px;
  }
  .features .cards h5{
  font-size: 24px;
  color: #cb6564;
}
  .features .cards p{
font-size: 14px;
color: #cb6564;
  }
  /*contact*/
.contact {
    margin-top: 20px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
  }
.contact .contact-left {
    grid-column: 2/6;
    color: #fffbe4;
}
.contact .contact-left h4{
    font-size: 25px;
}
.contact form{
    grid-column: 7/13;
}
.contact form input ::placeholder{
    color: #fffbe4;
}
.contact form input,
.contact form textarea
{
    background-color: transparent;
    border: unset;
    border: 1px solid #fffbe4;
    color: #fffbe4;
    width: 80%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 12px;

}
.contact form button{
    background-color: #fffbe4;
    border: unset;
    padding: 10px 12px;
    color: #cb6564;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
/*footer*/
footer{
    background-color: var(--color--2);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
}
footer .footer-left,
.footer-right *{
    color: var(--color--1);
}
.footer-right{
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(3,220px);
    align-items: center;
}
.social-media img{
    width: 20px;
    object-fit: contain;
}
